# Prefer yarn over npm
package-lock.json

# All logs and tmps files
*.log
*.tmp

# Files relative to XD mockups
*.svg
*.xd
*.html

# IDE
.config/
.idea/

# Dist
lib/
node_modules/

# Coverages
.nyc_output/
coverage/
