os:
  - linux
  - osx
language: node_js
node_js:
  - "8.6.0"
  - "8"
  - "9"
  - "10"
cache: yarn
script:
  - yarn test:coverage
after_success:
  - yarn add codecov codacy-coverage
  - cat ./coverage/lcov.info | yarn codacy-coverage
  - yarn codecov
