os:
  - linux
  - osx
language: node_js
node_js:
  - "8.3.0"
  - "8"
  - "9"
  - "10"
  - "11"
cache: yarn
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$PATH"
script:
  - yarn test:coverage
after_success:
  - yarn add codecov --ignore-scripts && yarn codecov
  - yarn add codacy-coverage --ignore-scripts && cat ./coverage/lcov.info | yarn codacy-coverage
  - yarn add codeclimate-test-reporter --ignore-scripts && yarn codeclimate-test-reporter < ./coverage/lcov.info
